/* Icons */

@import '../variables';

.icon {
  width: 40px;
  height: 24px;
  border-radius: 12px;
  box-sizing: border-box;
  border: 2px solid $gray;
  position: relative;
  padding: 2px;
  transition: border-color .25s;

  &:hover {
    cursor: pointer;
  }

  &:before{
    content:"";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display:block;
    background: $gray;
    transition: background-color .25s, transform .25s;
  }

  &.on{
    border-color: $blue;
    &:before {
      background: $blue;
      transform: translateX(16px)
    }
  }
}
